In [ ]:
object
groupby
sort_values()
sort_index()

In [1]:
import pandas as pd

In [23]:
df=pd.read_csv("https://raw.githubusercontent.com/sidsriv/Introduction-to-Data-Science-in-python/master/mpg.csv")

In [24]:
df

,Unnamed: 0,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [25]:
df=df.iloc[:,1:]  #Unnamed: 0제거하기
#df.drop(['Unnamed: 0'],axis = 1, inplace=True)

In [26]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [27]:
df.groupby(['manufacturer', 'class'])

In [29]:
df.groupby(['manufacturer', 'class']).mean()[['hwy']]

                               hwy
manufacturer class
audi         compact     26.933333
             midsize     24.000000
chevrolet    2seater     24.800000
             midsize     27.600000
             suv         17.111111
dodge        minivan     22.363636
             pickup      16.105263
             suv         16.000000
ford         pickup      16.428571
             subcompact  23.222222
             suv         17.777778
honda        subcompact  32.555556
hyundai      midsize     27.714286
             subcompact  26.000000
jeep         suv         17.625000
land rover   suv         16.500000
lincoln      suv         17.000000
mercury      suv         18.000000
nissan       compact     28.000000
             midsize     27.428571
             suv         18.000000
pontiac      midsize     26.400000
subaru       compact     26.000000
             subcompact  26.000000
             suv         25.000000
toyota       compact     30.583333
             midsize     28.285714
             pickup      19.428571
             suv         18.250000
volkswagen   compact     28.500000
             midsize     27.571429
             subcompact  32.833333

In [42]:
mpg=df.rename({'class':'nclass'},axis=1)
mpg.query('nclass in ["compact","midsize","suv"]')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,nclass
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [44]:
mpg.query('nclass == "compact"'or 'nclass == "midsize"' or 'nclass == "suv"')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,nclass
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
141,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
142,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact
169,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
171,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
186,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
187,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
190,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
191,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact
192,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact
193,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
195,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact

In [52]:
mpg[(mpg['class']=='compact')|(mpg['class']=='midsize')|(mpg['class']=='suv')]

cond1=mpg['class']=='compact'
cond2=mpg['class']=='midsize'
cond3=mpg['class']=='suv'

mpg[cond1|cond2|cond3]

KeyError: 'class'

In [53]:
#manufacturer별로 그룹을 만들고 그룹별 hwy의 평균을 구해리
df.groupby(['manufacturer','class']).agg(mean_hwy=('hwy', 'mean'))

                          mean_hwy
manufacturer class
audi         compact     26.933333
             midsize     24.000000
chevrolet    2seater     24.800000
             midsize     27.600000
             suv         17.111111
dodge        minivan     22.363636
             pickup      16.105263
             suv         16.000000
ford         pickup      16.428571
             subcompact  23.222222
             suv         17.777778
honda        subcompact  32.555556
hyundai      midsize     27.714286
             subcompact  26.000000
jeep         suv         17.625000
land rover   suv         16.500000
lincoln      suv         17.000000
mercury      suv         18.000000
nissan       compact     28.000000
             midsize     27.428571
             suv         18.000000
pontiac      midsize     26.400000
subaru       compact     26.000000
             subcompact  26.000000
             suv         25.000000
toyota       compact     30.583333
             midsize     28.285714
             pickup      19.428571
             suv         18.250000
volkswagen   compact     28.500000
             midsize     27.571429
             subcompact  32.833333

In [54]:
groupby(class=='compact','midsize','suv').mean()

SyntaxError: invalid syntax (899576104.py, line 1)

In [57]:
df.query('nclass == "compact"'or 'nclass == "midsize"' or 'nclass == "suv"') 
df=df.rename({'class':'nclass'},axis=1)

UndefinedVariableError: name 'nclass' is not defined

In [70]:
import numpy as np

In [79]:
df.loc[:,'cty']
df['cty']  #문자면 디폴트가 칼럼
df[:2]    #숫자면 디폴트가 로우
df.cty
df['cty'].mean()
np.mean(df['cty'])
df.mean()
df.apply('mean')

C:\Users\user\AppData\Local\Temp\ipykernel_284\3438347453.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()
C:\Users\user\AppData\Local\Temp\ipykernel_284\3438347453.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.apply('mean')

displ       3.471795
year     2003.500000
cyl         5.888889
cty        16.858974
hwy        23.440171
dtype: float64

In [89]:
df.drv.unique()

array(['f', '4', 'r'], dtype=object)

In [92]:
df['cty'].apply(np.sum)

0      18
1      21
2      20
3      21
4      16
       ..
229    19
230    21
231    16
232    18
233    17
Name: cty, Length: 234, dtype: int32

In [93]:
df=mpg.copy()
pd.isna(df)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,nclass
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
229,False,False,False,False,False,False,False,False,False,False,False
230,False,False,False,False,False,False,False,False,False,False,False
231,False,False,False,False,False,False,False,False,False,False,False
232,False,False,False,False,False,False,False,False,False,False,False
233,False,False,False,False,False,False,False,False,False,False,False

In [95]:
mpg['drv'] = np.where(mpg['drv'] == 'r', np.nan, mpg['drv'])
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,nclass
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize